# Build & Publish Folders
bin/
obj/
publish/

# Visual Studio Code
.vscode/
.vscode/**

# NuGet
*.nupkg
**/packages/*

# Entity Framework Migrations
Migrations/

# Appsettings
appsettings.Development.json
appsettings.Azure.json
